*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
 
}
body{
  background-color: rgb(170, 206, 252);
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
legend{
  text-align: center;
  background-color: rgb(82, 145, 246);
  padding: 0px 15px;
}
fieldset{ 
  background-color: rgb(152, 189, 250);
  border: solid blue 2px;
  padding: 5px 25px;
  line-height: 2.5;
  text-align: justify;
  font-size: 22px;
}
fieldset *{
  margin-inline-start: 25px;
  font-size: 18px;
}

input{
  padding: 5px;
}

input[type="submit"],input[type="reset"]{
  background-color: rgb(48, 31, 143);
  color: white;
  padding: 4px 60px;
  margin-inline-start: 25px;
  border-radius: 5px;
  border:solid 3px black;
}



